In [1]:
%pip install pandas
import pandas as pd
import numpy as numpy

df = pd.DataFrame()

Requirement already satisfied: pandas in /Users/sohashahidi/DATASCI 223/datasci_223_soha/.venv/lib/python3.11/site-packages (2.2.0)
Requirement already satisfied: numpy<2,>=1.23.2 in /Users/sohashahidi/DATASCI 223/datasci_223_soha/.venv/lib/python3.11/site-packages (from pandas) (1.26.3)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/sohashahidi/DATASCI 223/datasci_223_soha/.venv/lib/python3.11/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /Users/sohashahidi/DATASCI 223/datasci_223_soha/.venv/lib/python3.11/site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.7 in /Users/sohashahidi/DATASCI 223/datasci_223_soha/.venv/lib/python3.11/site-packages (from pandas) (2023.4)
Requirement already satisfied: six>=1.5 in /Users/sohashahidi/DATASCI 223/datasci_223_soha/.venv/lib/python3.11/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

/var/folders/s6/kn3bkgks0xz8x42qvvcqj5b00000gn/T/ipykernel_41263/3462401284.py:2: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [2]:
data = {"state": ["Ohio", "Ohio", "Ohio", "Nevada", "Nevada", "Nevada"],
 "year": [2000, 2001, 2002, 2001, 2002, 2003],
 "pop": [1.5, 1.7, 3.6, 2.4, 2.9, 3.2]}
frame = pd.DataFrame(data)

In [3]:
frame

    state  year  pop
0    Ohio  2000  1.5
1    Ohio  2001  1.7
2    Ohio  2002  3.6
3  Nevada  2001  2.4
4  Nevada  2002  2.9
5  Nevada  2003  3.2

In [6]:
df = frame

In [7]:
# Get state and year as a dataframe 
df[['state', 'year']]

# Get the state column as a dataframe
df[['state']]

# Get the stat column as a series
df['state']

0      Ohio
1      Ohio
2      Ohio
3    Nevada
4    Nevada
5    Nevada
Name: state, dtype: object

In [8]:
df.drop(columns=['state'])

   year  pop
0  2000  1.5
1  2001  1.7
2  2002  3.6
3  2001  2.4
4  2002  2.9
5  2003  3.2

In [9]:
frame[(frame['state'] == 'Ohio') & (frame['year'] == 2000)]

  state  year  pop
0  Ohio  2000  1.5

In [ ]:
df_ohio = frame[frame['state'] == 'Ohio']
df_else = frame[frame['state'] != 'Ohio']